.primary-btn{
    background-color: orange;
    /* width: px; */
    height: 50px;
    text-align: center;
    border-radius: 10px;

}
.header-part{
    display: flex;
    align-items: center;
    
}
.two-color{
    /* background: #F15B22; */
    /* border-radius: 50%; */
}
.two{
    display: flex;
    align-items: center;
}
.i{
    width: 416px;
height: 400px;
left: 862px;
top: 1178px;

}
.section-title{
    font-weight: 800;
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 25px;
}
.skill-title{
    font-weight: 800;
    font-size: 20px;
    margin-top: 20px;
}
.skill-description{
    /* background:wheat; */
    text-align: center;
    
}
.skill{
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
background: #FFFFFF;
padding: 30px;
margin: 30px;
}
.sectio-title{
    margin-top: 130px;
    margin-bottom: 70px;
    text-align: center;
    color: #FFF8F3;
    /* background-color:white; */
}
.plans{
    align-items: center;
    /* max-width: 400px; */
}
/* this part */
.contract{
    display: flex;
    gap: 100px;
    background-color: white;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contract .section-title{
    text-align: left;
}
.contract input ,textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 25px;
}
input{
    height: 64px;
}
.black{
    background-color: black;
}
.future{
    color:white;
}
.g{
    display: flex;
}